<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-practice></app-practice>-->
<!--<app-search></app-search>-->
<!--<input type="text" name="username" value="{{ username }}" />-->
<!--<input type="text" name="username" [value]="username" />-->
<!-- <app-todolist></app-todolist>-->
<!--<app-input [child]="items" [photos]="studentPhotos"></app-input>-->
<!-- <app-output [item]="item" (newItemEvent)="addItem($event)" ></app-output> -->
<!--<app-binding></app-binding>-->
<!--<app-directives></app-directives>-->
<!--<app-page></app-page>-->
<!--<ul>-->
<!--  <li *ngFor="let x of items">{{x}}</li>-->
<!--</ul>-->
<h1>Header</h1>
<!-- <a [routerLink]="['/room', room.id]">Go to room with id</a>
<p routerLink='/hotels'>Go to hotels</p> -->
<p ></p>
<router-outlet></router-outlet>
{{this.items}}
<h1>Footer</h1>
