<form id="bridge-form" [formGroup]="bridgeForm">
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input
      matInput
      type="text"
      id="id"
      name="id"
      placeholder="bridge-322-123-C"
      formControlName="id"
    />
  </mat-form-field>

  <br />
  <mat-form-field appearance="fill">
    <mat-label>Name </mat-label>
    <input matInput type="text" id="name" name="name" formControlName="name" />
  </mat-form-field>

  <br />
  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <input
      matInput
      type="text"
      id="year"
      name="year"
      placeholder="four digits number"
      formControlName="year"
    />
  </mat-form-field>

  <br />
</form>
